body{
    height:95vh;
    width: 95;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* color:rgb(44,139,44); */
    color: lightgreen;
    background-color: rgb(54, 172, 54);
}

#card{    
    color: black;
    font-size: 30px;
    font-family: arial;
    background-color:white;
    width:570px;
    height:250px;
    padding: 15px;
    border-radius:7px;
    text-align: center;
    position:absolute;  
    border: inset 2px black;
    display:none;
}

#card>button {
    border-radius: 7px;
    border: 1px black solid;
    background-color: transparent;
    padding: 10px;
}

#card>button:hover{
    background-color: lightgreen;
    color:green;
    border:green;
}